$bg-color: #2E2E2E
$text-color: #eeeeee
$space : 20px

$sm-width: 768px

.col-sidebar, .row-container 
    background-color: $bg-color 
    color: $text-color
    max-height: 100vh
    overflow-y: scroll

.col-main
    padding-left: 0px
    padding-right: 0px
    position: relative
    
.sidebar
    padding: $space
    width: 100%
    height: 100%
    .title 
        margin-top: 0px
    #toggle-lines
        margin-right: $space/2
    #subway-lines
        padding-left: 0px
        margin-top: $space
        list-style: none
        fieldset 
            display: block
            margin-right: 4px
            margin-bottom: 4px
            @media(max-width: $sm-width)
                display: inline-block
                margin-right: $space
            input, label
                opacity: 0.4
            label 
                padding-left: $space/3
            input:checked + label, input:checked 
                opacity: 1

.hud 
    position: absolute
    top: 0px
    right: 0px
    padding: $space/2 
    // padding-right: $space*2
    z-index: 9
    background: radial-gradient(at top right,rgba(black,1) 0%,rgba(black,0) 80%);
    height: 100px
    .datetime-display
        max-width: 200px
        text-shadow: 1px 1px 1px black
        text-align: right
        margin-top: $space/2
        margin-right: $space
        font-size: 1em
        font-weight: bold
        font-family: 'Monaco', 'monospace'

.timeline-container
    z-index: 9999
    position: absolute
    bottom: 0px
    width: 100%
    padding: $space
    .timeline 
        position: relative
        // background-color: rgba(#333333, 0.8)
        margin: $space/2
        list-style: none 
        display: flex
        font-size: 0.8em
        margin: 0px
        $text-color: #aaaaaa
        li 
            position: relative
            z-index: 1
            color: $text-color
            flex: 1
            text-align: center
            &:not(:last-child)
                border-right: 1px solid $text-color
            &.weekend 
                color: lighten($text-color, 30%)
        .timeline-cursor
            position: absolute
            z-index: 0
            width: 0px
            height: 1.5em
            background-color: rgba(#eeeeee, 0.5)
            &.active
                transition-delay: 4s
                width: 100%

