$bg-color: #2E2E2E
$text-color: #eeeeee
$space : 20px

.col-sidebar, .row-container 
    background-color: $bg-color 
    color: $text-color

.sidebar
    padding: $space
    width: 100%
    height: 100%
    .title 
        margin-top: 0px

    #subway-lines
        padding-left: 0px
        margin-top: $space
        list-style: none
        fieldset 
            display: block
            margin-right: 4px
            margin-bottom: 4px
            label 
                padding-left: $space/3