#map
    width: 100%
    height: 100vh

.map-popup
    min-width: 100px
    .title 
        font-weight: bold
        display: block 
        margin-bottom: 4px
    .line-icon
        $size: 20px
        border-radius: 50%
        width: $size
        height: $size
        display: inline-block
        font-size: 0.9em
        font-weight: bold
        text-align: center
        color: white
        margin-right: 4px
        margin-bottom: 4px
.station-name
    $stroke-color: #ffffff
    $stroke-width: 1px
    color: #555555
    display: inline-block
    padding-left: 14px
    padding-top: 4px
    font-size: 0.8em
    min-width: 100px
    text-shadow: -$stroke-width -$stroke-width 0 $stroke-color, -1px 1px 0 $stroke-color, 1px -1px 0 $stroke-color, 1px 1px 0 $stroke-color